body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 60%;
  height: 100vh;
  overflow: hidden;
  background: var(--martinique);
}

#root {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}

/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: OrangeRed;
  --main-blue: DodgerBlue;
  --main-gray: #303841;
  --background: #1a1527;
  --black-currant: #34263e;
  --fuchsia-pink: #d30cb8;
  --bossonova: #5c2c6d;
  --martinique: #3c345c;
  --breaker-bay: #5da4a6;
  --riptide: #6df1d8;
}

/* 1200px / 16px = 75em */
/* @media (max-width: 75em) {
  html {
    font-size: 60%;
  }
} */

/* 980px / 16px = 61.25em */
/* @media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
} */

/* 460px / 16px = 28.75em */
/* @media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
} */

#navbar {
  font-size: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bossonova);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); */
}

#navbar ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

a {
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--riptide);
}

section {
  display: flex;
  margin: 100px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
  background: var(--martinique);
  /* line-height: 0.5; */
}

/* @media (min-width: 768px) {
  section {
    scroll-snap-align: center;
  }
} */

#welcome-note {
  display: block;
  height: 400px;
  width: 60%;
  background-color: var(--bossonova);
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.1s, transform 0.1s;
  background-size: 100%;
  background-repeat: no-repeat;
}

.boxShadow {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.boxShadow:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}

#welcome-note:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

#welcome-section p {
  font-size: 2rem;
  color: var(--riptide);
}

h1 {
  font-size: 4rem;
  color: var(--riptide);
}

h2 {
  margin: 0;
  font-size: 2rem;
  padding-bottom: 10rem;
  padding-top: 2rem;
}

#projects {
  /* background: var(--main-red); */
  text-align: center;
  padding: 5rem 0;
}

#contact {
  text-align: center;
}

#contact > a {
  background: var(--main-blue);
}

#navbar a:hover {
  /* background: var(--main-red); */
  transform: scale(1.5);
  color: var(--fuchsia-pink);
  transition: transform 0.3s;
}

#contact > a:hover {
  background: black;
  transition: background 0.3s ease-out;
}

.project-tile {
  background: var(--bossonova);
}

.project-tile > img {
  max-height: 500px;
  max-width: 300px;
}

.project-tile:hover {
  /* background: var(--main-blue);
  transition: background 0.3s ease-out; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
